[Settings]
# Random algorithm to use, see README for details
Random algorithm = Pure
# Background color of images after they're resized for the desktop.
# Use "kmeans" to try to estimate the most common color.
Background color = black
# Sets borders size in pixels
Border size = 0
# Set this to "kmeans" to use the most common color for the border, or "kmeans2" for the 2nd most common color
Border color = black
# Set this to a color value to show padding when displaying wallpapers
Padding color =
# The number of image paths to keep in history
History size = 10
# The time delay after a wallpaper fails to load
Error delay = 10s
# Replace with screen size if you have trouble with multiple monitors of different sizes e.g. `1920, 1080`
Force monitor size =

[Filepath]
Add filepath to images = false
Font name = arial.ttf
Font size = 24
Text fill = yellow
Stroke width = 2
Stroke fill = black

[Advanced]
# Don't mess with these unless you know what you're doing
Temp image filename = wallpaper
Deleted image path = deleted_wallpaper
Icon path = icon.png
Image types = jpg, jpeg, png, gif, bmp, webp, webm, tiff, svg
White exclusion threshold = 100
Kmeans subsample size = 1000
Kmeans cluster size = 5
Kmeans max iterations = 10
Kmeans distance threshold = 5.0
Show kmeans clustering charts = False
