[Settings]
# Random algorithm to use, see README for details
Random algorithm = Pure
# Background color of images after they're resized for the desktop.
# Use "kmeans" to try to estimate the most common color.
Background color = black
# Sets borders size in pixels
Border size = 0
# Set this to "kmeans" to use the most common color for the border, or "kmeans2" for the 2nd most common color
Border color = black
# Set this to a color value to show padding when displaying wallpapers
Padding color =
# The number of image paths to keep in history
History size = 10
# The time delay after a wallpaper fails to load
Error delay = 10s
# Replace with screen size if you have trouble with multiple monitors of different sizes e.g. `1920, 1080`
Force monitor size =

[Filepath]
Add filepath to images = false
Font name = arial.ttf
Font size = 24
Text fill = yellow
Stroke width = 2
Stroke fill = black

[Kmeans]
# 0 = Skip downscaling
Max dimension for downscaling = 500
# 0 = Skip subsampling
Subsample size = 0
White exclusion threshold = 100
Cluster size = 10
Max iterations = 20
Distance threshold = 5.0
Pruning distance = 20.0
Show clustering charts = false
Crop clustering charts = false

[Mean Shift]
# 0 = Skip downscaling
Max dimension for downscaling = 500
# 0 = Skip subsampling
Subsample size = 0
White exclusion threshold = 100
Radius = 30
Tolerance = 0.001
Max Iterations = 100

[Advanced]
# Don't mess with these unless you know what you're doing
Temp image filename = wallpaper
Deleted image path = deleted_wallpaper
Icon path = resources/icon.png
Image types = jpg, jpeg, png, gif, bmp, webp, webm, tiff, svg
